body{
    font-family: 'Open+Sans', sans-serif;
    background-color: #F5F5F5;
}
#main-intro{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 5px;
}
#main-intro .bg{
    width: auto;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/layer.png);
    text-align: center;
    background-position-y: -120px;
}
#main-intro .bg img{
    position: relative;
    top: 75px;
}
#main-intro .bg a{
    display: block;
    position: absolute;
    bottom: 95px;
    left: 0;
    right: 0;
    color: #888;
}
#main-intro .bg .fa{
    font-size: 2.3em;
    background-color: #fff;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    line-height: 54px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#menu {
    display:none;
}

.slicknav_menu {
    display:block;
}