.my-mt-60{
    margin-top: 95px;
}

.gradient-body-ivoir{
    /*background: linear-gradient(0deg,#3D3949,#6772A4);*/
    background-image:url(../images/logo-ivoire.png);
}

.menu-sidebar-left .menu-scroll, .menu-sidebar-right .menu-scroll{
    background-color: #122b56;
}

.google-map {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

#mymap {
    height: 100%;
    border-radius: 10px;
}

.blog-post-more{
    width: 90px!important;
}

.blog-post-more i{
    margin-left: 3px;
}